.products {
  display: grid;
  gap: 5px;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.products__item {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: auto;
  border: 1px solid black;
  margin: 10px;
  mask-image: none;
}
.header {
  display: flex;
  justify-content: center;
}

.header__cart,
.headr__products {
  margin: 5px;
  text-align: center;
  line-height: 50px;
  width: 20%;
  background-color: aquamarine;
  height: 50px;
}
